
body {
  padding-top: 50px;
}

.footer_social_links li {
  list-style-type: none;
  display: inline;
}

footer {
  text-align: center;
  background-color: #FF00FF;
  padding: 15px 0px 25px 0px;
}

.footer_heading {
  font-size: 20px;
}

h1 {
  font-size: 50px;
  text-align: center;
  font-family: 'Montserrat Subrayada', sans-serif;


}

* {
  font-family: 'Open Sans', sans-serif;
}
